<div class="container">
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn btn-success">
		<span class="fa fa-save"></span> {{ button_label|default('Sauvegarder') }}</button>
	{{ form_end(form) }}
</div>


{% block scripts %}
	{{ encore_entry_script_tags('markdownEditor') }}
{% endblock %}
