{% extends 'base.html.twig' %}

{% block title %}Documentation{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Bilemo API</h1>
			<p class="lead">Documentation</p>
		</div>
	</div>
	<div class="container">
		{% if is_granted("EDIT_DOC", doc_sections[0]) %}
			<a class="btn btn-primary" href="{{ path('doc_section_new') }}">Créer une nouvelle section</a>
		<hr>
		{% endif %}
		
		<div class="row">
			{% for doc in doc_sections %}
				<div class="col-12 mb-3">
					<div class="card clickable">
						<div class="card-header">
							<div class="row">
								<div class="col-12{% if is_granted("EDIT_DOC", doc) %} col-md-8 col-lg-9 col-xl-10{% endif %}">
									<h4>{{ doc.title }}</h4>
								</div>
								{% if is_granted("EDIT_DOC", doc) %}
									<div class="col-12 col-md-4 col-lg-3 col-xl-2 d-flex justify-content-end">
										<div class="card-actions">
											<a class="btn btn-success" data-toggle="collapse"
											   href="#collapsible-content-{{ loop.index }}" role="button"
											   aria-expanded="false">
												<span class="fa fa-eye"></span>
											</a>
											<a class="btn btn-outline-warning"
											   href="{{ path('doc_section_edit', {'id': doc.id}) }}">
												<span class="fa fa-edit"></span>
											</a>
											<form method="post" class="d-inline-block"
												  action="{{ path("doc_section_delete", {id: doc.id}) }}"
												  onsubmit="return confirm('Êtes vous sur de vouloir supprimer cette section?')">
												<input type="hidden" name="_method" value="DELETE">
												<input type="hidden" name="_token"
													   value="{{ csrf_token("delete" ~ doc.id) }}">
												<button type="submit" href="#" class="btn btn-danger">
													<span class="fa fa-trash"></span>
												</button>
											</form>
										</div>
									</div>
								{% endif %}
							</div>
						</div>
						
						<div class="collapse" id="collapsible-content-{{ loop.index }}">
							<div class="content">
								<div class="p-4">
									{{ doc.content|markdown }}
								</div>
							</div>
						</div>
						
						<div class="card-footer">
							<small>
								Créé le {{ doc.dateAdd|format_datetime('full', 'none', locale='fr') }}
								{% if doc.dateUpdate is not null %}
									, dernière mise a jour le {{ doc.dateUpdate|format_datetime('full', 'none', locale='fr') }}
								{% endif %}
							</small>
						</div>
					</div>
				</div>
			{% else %}
				<div class="col-12">Aucune section trouvée</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
