{% extends 'base.html.twig' %}

{% block title %}DocSection{% endblock %}

{% block body %}
	<h1>DocSection</h1>
	
	<table class="table">
		<tbody>
		<tr>
			<th>Id</th>
			<td>{{ doc_section.id }}</td>
		</tr>
		<tr>
			<th>Title</th>
			<td>{{ doc_section.title }}</td>
		</tr>
		<tr>
			<th>Content</th>
			<td>
					{{ doc_section.content|markdown }}
			</td>
		</tr>
		<tr>
			<th>DateAdd</th>
			<td>{{ doc_section.dateAdd ? doc_section.dateAdd|date('Y-m-d H:i:s') : '' }}</td>
		</tr>
		<tr>
			<th>DateUpdate</th>
			<td>{{ doc_section.dateUpdate ? doc_section.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
		</tr>
		</tbody>
	</table>
	
	<a href="{{ path('doc_section_index') }}">back to list</a>
	
	<a href="{{ path('doc_section_edit', {'id': doc_section.id}) }}">edit</a>
	
	{{ include('doc_section/_delete_form.html.twig') }}
{% endblock %}
